min-release-age=7
min-release-age-exclude[]=@microbit/*
min-release-age-exclude[]=@microbit-foundation/*

allow-git=none
allow-remote=none
allow-file=none
allow-directory=root

strict-allow-scripts=true
